:root {
  --font-family: roboto, raleway;
  --main-color-navy-blue: #2e2f42;
  --main-header-color: #ffffffff;
  --paragraph-color: #434455;
  --first-logo-color: #4d5ae5;
  --footer-logo-description-color: #f4f4fd;
  --logo-font-family: raleway;
  --hover-color: #404bbf;
}
.logo {
  font-size: 18px;
  font-style: var(--logo-font-family);
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.primary-logo-part {
  color: --first-logo-color;
}
.second-logo-part {
  color: var(--main-color-navy-blue);
}
.navigation {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--main-color-navy-blue);
  text-decoration: none;
}
.navigation:hover {
  color: var(--hover-color);
}
.navigation:focus {
  color: var(--hover-color);
}
.nav-link:hover {
  color: var(--hover-color);
}
.nav-link:focus {
  color: var(--hover-color);
}
.nav-link {
  text-decoration: none;
}
.body-section {
  font-family: roboto, sans-serif;
  background-color: var(--main-header-color);
  color: var(--paragraph-color);
}

.paragraph {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--paragraph-color);
}
.main-header {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  color: var(--main-header-color);

  width: 496px;
}
.main-header-section {
  background-color: (--main-color-navy-blue);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}
.secondary-header {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--main-color-navy-blue);
}
.subtiltes {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  color: var(--main-color-navy-blue);
}
.remove-disc-list {
  list-style: none;
}

.order-service-button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: var(--main-header-color);
  background-color: var(--first-logo-color);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}
.order-service-button:hover {
  background-color: --hover-color;
}
