:root {
  --logo-font-family: "raleway";
  --body-font-family: "Roboto", sans-serif;
  --main-color-navy-blue: #2e2f42;
  --main-header-color: #ffffffff;
  --paragraph-color: #434455;
  --first-logo-color: #4d5ae5;
  --footer-logo-description-color: #f4f4fd;
  --logo-font-family: raleway;
  --hover-color: #404bbf;
}
.logo {
  font-size: 18px;
  font-style: var(--logo-font-family);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 003em;
  text-transform: uppercase;
  color: var(--first-logo-color);
  font-family: "Raleway", sans-serif;
}
.link {
  text-decoration: none;
}
.upper-logo-color {
  color: #2e2f42;
}
.second-logo-part {
  color: var(--main-header-color);
}
.navigation {
  font-size: 16;
  font-style: normal;
  font-weight: 500;
  line-height: 24; /* 150% */
  letter-spacing: 0.32px;
  color: var(--main-color-navy-blue);
  text-decoration: none;
}
.navigation:hover {
  color: var(--hover-color);
}
.navigation:focus {
  color: var(--hover-color);
}
.nav-link:hover {
  color: var(--hover-color);
}
.nav-link:focus {
  color: var(--hover-color);
}
.nav-link {
  text-decoration: none;
}
.body-section {
  font-family: Roboto, sans-serif;
  background-color: var(--main-header-color);
  color: var(--paragraph-color);
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--paragraph-color);
}
.main-header {
  text-align: center;
  font-size: 56;
  font-weight: 700;
  line-height: 60; /* 107.143% */
  letter-spacing: 1.12;
  color: var(--main-header-color);
}
.main-header-section {
  background-color: var(--main-color-navy-blue);
}
.secondary-header {
  font-size: 36;
  font-style: normal;
  font-weight: 700;
  line-height: 40; /* 111.111% */
  letter-spacing: 0.72;
  text-transform: capitalize;
  color: var(--main-color-navy-blue);
}
.subtiltes {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24; /* 120% */
  letter-spacing: 0.4;
  color: var(--main-color-navy-blue);
}
.remove-disc-list {
  list-style: none;
}

.order-service-button {
  font-size: 16;
  font-style: normal;
  font-weight: 500;
  line-height: 24; /* 150% */
  letter-spacing: 0.64;
  color: var(--main-header-color);
  background-color: var(--first-logo-color);
}
.order-service-button:hover {
  background-color: var(--hover-color);
}
.list {
  list-style: none;
}
.footer-paragraph {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.adress-text {
  color: var(--paragraph-color);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
